body{
    margin: 0;
    padding: 0;
    background: url(../img/lanchonete.jpg) fixed;
    backdrop-filter: blur(2px);
    box-sizing: border-box;
}

#logo-senai{
    width: 200px;
}

.nav-link {
    font-size: 22px;
    color: white;
    font-weight: bold;
}

.nav-link:hover {
    color: black;
}

.navbar {
    display: block;
    background-color: orange;
}

.meio-direito h2 {
    text-align: center;
    color: red;
}

#sec1 {
    display: flex;
    text-align: center;
    align-items: center;
    height: 500px;
}

#sec1 h1 {
    font-size: 80px;
    color: orange;
    font-family: 'Merienda', cursive;
}

#carouselExampleControls img{
    align-content: center;
}

#sec2 {
    background: rgb(255, 255, 255);
    height: 600px;
}

#sec2 {
    border: 10px inset rgb(255, 123, 0);
}
#sec3 {
    height: 280px;
    background: linear-gradient(0, #120c56, #000000);
    
}
#sec3 h1{
    height: 280px;
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    
}

#stars{
	width: 3px;
	height: 1px;
/* 	border-radius: 50%; */
	box-shadow: 50px 30px white,
    100px 80px white,
    80px 120px white,
    300px 20px white,
    250px 130px white,
    200px 50px white,
    150px 100px white,
    320px 100px white;
    animation: anim-stars 5s linear infinite;
}
#stars::after{
    content: " ";
    position: absolute;
    top: 160px;
    width: 3px;
    height: 3px;
  
    border-radius: 50%;
    box-shadow: 50px 30px white,
      100px 80px white,
      80px 120px white,
      300px 20px white,
      250px 130px white,
      200px 50px white,
      150px 100px white,
      320px 100px white;
  }

#sect4 {
    padding: 20px;
}
#sec4 {
    height: 400px;
    background: #2C1B0B;
    
}

#sec4 img {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.logo-sec4 {
    padding: 20px;
}

.social p a  {
    color: inherit;
}
.social p a i {
    vertical-align:middle;
    padding-right: 10px;
}

.social li{
    list-style-type: none;
}

.linha {
    color: white;
    text-align: center;
}

.localizacao p {
    font-family: 'Square Peg',bold,cursive;
    padding-top: 20px;
    font-size: 40px;
}
.horario p {
    font-family: 'Square Peg', bold, cursive;
    padding-top: 20px;
    font-size: 40px;
}

.telefone p {
    font-family: 'Square Peg',bold,cursive;
    padding-top: 40px;
    line-height: 1px;
    font-size: 40px;
}